<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Medidores</h1>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Lançamentos por categoria">
        <p-chart type="pie" [data]="pieChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Totais entrada/saida">
        <p-chart type="bar" [data]="barChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

  </div>
</div>
